@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

/*==============HEADER==============*/
.logo {
  width: 90px;
}

header h1 {
  color: #FF827B;
  font-family: 'Satisfy';
  margin-top: 20px;
}

nav li {
  font-size: 20px;

}

li a {
  color: #61AEE6;
  font-weight: 400;
  font-family: 'Open Sans';
}

a:focus, a:hover {
  color: #FF827B;
  text-decoration: none;
}

nav {
  top: 20px;
}


/*==========END HEADER============*/

/*=======JUMBOTRON=======*/
.jumbotron {
  background-image: url('../img/hero.jpg');
  background-size: cover;
  background-position: center;
  height: 450px;
}

.jumbotron h2 {
  font-family: 'Open Sans';
  font-weight: 300;
  color: white;
}
/*========END JUMBOTRON=======*/

/*CONTENT*/
.features {
  margin-bottom: 60px;
}

.product {
  background-color: #EDF1f4;
  border-radius: 5%;
  border: 5px solid rgb(252, 252, 252);
}

.thumbnail {
  padding: 10px;
  background-color: #EDF1F4;
  border: 0;
}

h2 {
    font-weight: bold;
}

.google-map-container {
  float: right;
  margin-right: 30px;
}

/*=========FOOTER========*/
.footer {
  background-color: #231f20;
  padding-top: 20px;
}

.footer a {
  color: #bfc0c1;
}

.contact-info {
  padding-top: 15px;
  padding-left: 40px;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
}

.social {
  padding-top: 15px;
}

.fine-print {
  color: #505050;
  margin: 10px 0 15px;
}

/*==========END FOOTER==========*/


.content {
  margin-top: 20px;
  margin-bottom: 20px;
}
/*END CONTENT*/
